* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
  padding-top: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #fff;
  z-index: 2;
  height: 70px;
}
.nav-logo {
  text-decoration: none;
  font-size: 40px;
  padding-left: 200px;
  color: rgb(36, 36, 36);
  font-weight: 900;
}
.nav-items-container {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
 
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.nav-items {
  display: flex;
  padding-left: 20px;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.nav-items .icon{
  display: none;
}
.nav-item-icon{
  display: none;
}
.nav-items a {
  text-decoration: none;
  color: black;
}
.nav-item {
  font-size: 22px;
  margin-left: 20px;
  font-weight: 600;
}
.nav-item:hover, .nav-item-icon:hover {
  border-bottom: 5px solid #4228ed;
  cursor: pointer;
}
.home-container {
  height: 80vh;
  margin: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.hello {
  font-size: 30px;
  color: #4228ed;
  font-weight: 600;
}
.name {
  font-size: 50px;
  font-weight: 800;
}
.intro {
  font-size: 40px;
  color: rgb(15, 16, 18);
  font-weight: 600;
}
#words {
  color: #4228ed;
  font-size: 42px;
  font-weight: 800;
  border-bottom: 5px solid #4228ed;
}
.about-container {
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.left-about-wrapper {
  width: 100%;
}
.left-about-wrapper img {
  height: 100%;
  width: 80%;
  margin-left: 100px;
  object-fit: cover;
}
/* .image{
 height: 100%;
  background: url(images/my.jpg),url(images/splash.jpg);
  background-size: cover;
  object-fit: cover;
  background-position: top bottom;
  background-blend-mode: screen;
} */
section {
  margin: 10px;
}

.right-about-wrapper {
  /* background-color: rgba(145, 140, 140, 0.706); */
  position: relative;
  width: 100%;
  margin-right: 20px;
}
.title {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 40px 0px 40px;
}
.about-details-container {
  padding: 20px;
}
.about-details-wrapper {
  font-size: 20px;
}
.about-details-wrapper-content {
  padding: 20px;
  font-size: 25px;
}
.about-details-wrapper-content-btn {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  font-size: 25px;
  border-radius: 10px;
  color: rgb(15, 16, 16);
  background-color: #4228ed;
  font-weight: 700;
}
.education-container {
  padding: 5px;
}
.education-wrapper {
  display: flex;
}
.education-left {
  flex: 30%;
  height: 25vh;
  display: flex;
  justify-content: center;
}
.education-left {
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
}
.education-left ul {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: black;
}
.education-left ul li a {
  font-family: "Oswald", sans-serif;
  color: black;
}
.education-left ul li.active a {
  color: blue;
  font-weight: 600;
}
.education-right {
  flex: 70%;
}
.heading {
  margin: 20px 10px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(22, 145, 197);
}
.education-details {
  border-radius: 10px;
  background-color: antiquewhite;
  margin-bottom: 15px;
  padding: 5px;
}

.education-year {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: rgb(22, 145, 197);
}
.education-title {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 600;
  color: rgb(8, 9, 10);
}
.education-college {
  margin: 10px 0;
  font-size: 25px;
  font-weight: 600;
  color: rgb(69, 73, 77);
}
.education-percentage {
  color: #888888;
  font-weight: 700;
  font-size: 22px;
}

.skills-wrapper {
  display: flex;
}
.skills-container-left {
  flex: 30%;
}
.skills-container-right {
  flex: 70%;
}
.skills-card-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.skill-card {
  /* border: 1px solid rgb(206, 187, 187); */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.skills-heading {
  text-align: center;
  margin-bottom: 7px;
}
.progress-bar-html {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(11, 53, 238) 90%, rgb(186, 187, 186) 0);
}
.progress-bar-html::before {
  content: "90%";
  font-weight: 900;
  font-size: 20px;
}
.progress-bar-css {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(11, 53, 238) 90%, rgb(186, 187, 186) 0);
}
.progress-bar-css::before {
  content: "90%";
  font-weight: 900;
  font-size: 20px;
}
.progress-bar-js {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(11, 53, 238) 85%, rgb(186, 187, 186) 0);
}

.progress-bar-js::before {
  content: "85%";
  font-weight: 900;
  font-size: 20px;
}
.skills-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin-top: 30px;
}
.skills-grid-item {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}
.project-container {
  margin: 20px 50px;
}
.project-heading {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 20px;
}
.project-wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 10px 8px #888888;
}
.project > img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.5s;
}
.project:hover img {
  transform: scale(1.1);
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #4228ed);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
}
.project:hover .layer {
  height: 100%;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}
.layer p {
  color: #fff;
}
.layer a {
  margin-top: 20px;
  color: #4228ed;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.layer a i {
  font-size: 50px;
  padding: 10px;
}
.contact-container {
  margin: 20px;
  height: auto;
}
.contact-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.contact-card {
  box-shadow: 5px 10px 8px #888888;
}
.contact {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact i {
  position: relative;
  font-size: 50px;
  color: #4228ed;
  display: flex;
  align-items: center;
  padding: 25px;
}
.contact .email {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
  color: #888888;
  text-align: center;
}
.contact-title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 900;
}
.icon-square {
  height: 100px;
  width: 100px;
  background-color: #e65a88;
  border-radius: 50%;
}
@media screen and (max-width: 800px) {
  .name {
    font-size: 35px;
    font-weight: 900;
  }
  .nav-items a:not(:last-child) {
    display: none;
  }
  .nav-items .icon{
    display: block;
    float: left; 
    padding: 5px;
    font-size: 20px;
    background-color: #4228ed;
  }
  .home-container {
    padding: 10px;
  }
  .project-wrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }
}
@media screen and (max-width: 800px) {
  .nav-logo {
    display: none;
  }
  .nav-items .nav-item {
    display: none;
  }
  .nav-items.responsive .nav-item-icon{
    position: relative;
    display: flex;
    margin-left: 20px;
    transform: 0.5s ease;
  }
  .nav-items.responsive .icon {
    background: antiquewhite;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 0;
  }
  .nav-items.responsive .icon i{
    padding: 4px;
    display: flex;
    align-items: center;
  }
  .nav-items.responsive a {
    padding: 5px;
    display: block;
     background: #fff;
     text-align: center; 
  }
  .right-about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .project-wrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
  }
  .project {
    height: 300px;
  }
  .project img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    transition: transform 0.5s;
  }
  .left-about-wrapper > img {
    display: none;
  }
  .contact-cards {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
  .skills-card-wrapper {
    display: grid;
    grid-template-columns: auto;
  }
  .skills-grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    margin-top: 30px;
    justify-content: center;
  }
  .about-container {
    margin-bottom: 100px;
  }
  .right-about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 50px;
  }
  .education-left {
    display: none;
  }
  .heading {
    text-align: center;
  }
}
